<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input (keyup)="buscarHospital(input.value)" type="text" name="" class="form-control"
                    placeholder="Buscar hospital..." />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    Hospitales registrados (<small>{{ totalRegistros }}</small>)
                </h3>
                <div>
                    <button (click)="crearHospital()" class="btn btn-primary float-right">
                        <i class="fa fa-plus"></i>
                        Crear Hospital
                    </button>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Hospital</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales;">
                            <td>
                                <img (click)="mostrarModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
                            </td>
                            <td>
                                <input [(ngModel)]="hospital.nombre" type="text" class="form-control">
                            </td>
                            <td>
                                <div class="float-right">
                                    <button (click)="guardarHospital(hospital)" class="btn btn-primary">
                                        <i class="fa fa-save"></i>
                                      </button>
                                      <button (click)="borrarHospital(hospital)" class="btn btn-danger ml-lg-2">
                                        <i class="fa fa-trash-o"></i>
                                      </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5)" class="btn btn-secondary">Anteriores</button>
                <button (click)="cambiarDesde(5)" class="btn btn-secondary ml-lg-2">Siguientes</button>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
      <div class="alert alert-warning text-center">
        <strong>Cargando</strong>
        <br />
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br />
        <span>Espere por favor</span>
      </div>
    </div>
  </div>